@keyframes glareMove {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 0;
    }

    10% {
        opacity: 0.75;
    }

    90% {
        opacity: 0.75;
    }

    100% {
        transform: translateX(-50%) translateY(100vh);
        opacity: 0;
    }
}

.glare {
    animation: glareMove 3.5s linear infinite;
}

.glare-delay {
    animation-delay: 1s;
}

.glare-delay2 {
    animation-delay: 2s;
}
